<header class="py-6 text-white" style="background-image: url('../../../assets/images/pexels-tima-miroshnichenko-7567520.jpg');background-size: cover;">
    <div class="container mx-auto px-4 lg:px-2">
        <nav class="flex space-x-32 px-4">
            <div class="flex space-x-5">
              <a href="/" class="w-16 h-16">
                <img src="../../../assets/images/et1.jpg" class="object-cover rounded-full" alt="Logo">
              </a>
              <p class="text-3xl pt-2 text-amber-500 animate-pulse font-bold ">Etoiles d'Afrique</p>
            </div>
            <input type="checkbox" id="menu-toggler" class="hidden">
            <span class="text-4xl hidden" id="menu-bars" >
              <i class="bi bi-list bars"></i>
              <i class="bi bi-x close hidden"></i>
            </span>
            <div class="hidden lg:flex menu font-bold py-5 text-amber-500">
              <a routerLink="/" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Accueil</a>
              <a routerLink="/contexte" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Contexte</a>
              <a routerLink="/team" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Équipe Fondatrice</a>
            </div>
          </nav>
    </div>
    <div class="flex flex-col mt-10 space-y-4">
        <div class="flex flex-col mx-auto space-y-2">
            <p class="mx-auto text-3xl font-bold text-amber-500 uppercase">PRESENTATION DE L’EQUIPE FONDATRICE DU PROJET</p>
            <div class="w-16 h-1 bg-amber-500 rounded-xl mx-auto"></div>
        </div>
        <div class="mx-auto w-1/2">
            <p class="text-center font-bold">Apprenez plus sur les principaux membres fondateurs de projet Étoiles d'Afrique</p>
        </div>
    </div>
</header>

<section class="bg-amber-100">
   <div class="flex flex-col pt-10">
        <div class="mx-auto">
            <p class="text-3xl text-amber-500 font-bold">Dans quel contexte est né Étoiles d'Afrique ?</p>
            <div class="w-16 h-1 bg-amber-300 mt-2 rounded-xl mx-auto"></div>
        </div>
        <div class="mx-auto p-4">
            <p class="text-center mb-4 lg:text-left first-letter:float-left first-letter:text-7xl first-letter:mr-4 first-letter:font-bold first-letter:text-amber-500">
              La fondatrice principale d’ETOILE D’ AFRIQUE est une dame d’une cinquantaine d’années nommée
Mme Faye Marie Madeleine Ndione.
Marie Madeleine Ndione est une spécialiste de la gestion comptable et financière de projet. Elle a
acquis plus de 20 ans d&#39;expérience dans la gestion financière et la gestion de projet au niveau
régionale. Elle a été Responsable Administrative et Financière d&#39;une organisation de la société civile
appelée SIDA SERVICE pendant au moins 10 ans. Cette position l’a amenée à réorganiser les
procédures de gestion administrative et financière de l’organisation y compris le volet de la gestion
des subventions. Responsable de la gestion de toutes les subventions, elle a formé et encadré tous
les gestionnaires de Sida Service dans les comités Diocésains du Sénégal. Elle est très au fait des
procédures de l&#39;USAID, du Fonds mondial, de la Banque mondiale, de World Vision, de CRS, Misereor,
Diakonia et de plusieurs pays européens comme la France, l&#39;Allemagne, et des pays dont elle a géré
les budgets pour des projets soutenus par des partenaires dans ces différents pays.
            </p>

            <p class="text-center mb-4 lg:text-left">
              Elle a ensuite mis son expertise et son expérience au service de l&#39;Alliance Nationale des
              Communautés pour la Santé (ANCS), bénéficiaire principal d&#39;un projet régional financé par le Fonds
              Mondial de lutte contre le SIDA, la Tuberculose et le Paludisme couvrant le Burkina Faso, le Cap Vert,
              la Guinée Bissau, la Côte d&#39;Ivoire et le Sénégal de mars 2017 à juin 2020. Elle avait la charge de
              l’élaboration de la partie financière du PUDR pour le Fonds mondial, la revue des rapports financiers
              des partenaires et le suivi financier dans les pays mais également l’élaboration de tout budget lié à la
              subvention. La triangulation des données financières, programmatiques et du suivi évaluation lors
              des reporting trimestriels et la validation des rapports de progrès l’a propulsé dans le management
              global des projets/programmes avec de solides compétences. Elle a de solides connaissances en
              matière fiscale, sociale et suivi des programmes d’investissement et en gestion des ressources
              humaines.
            </p>

            <p class="text-center mb-4 lg:text-left">
              Marie Madeleine Ndione a été retenue, par l’ANCS à la fin du programme, en tant que consultante
              pour assurer la clôture financière avec le Fonds mondial.
              Elle travaille actuellement en tant que consultante pour renforcer les capacités des organisations
              communautaires en matière de planification et de gestion financière des projets. Elle dispense des
              cours en création d’entreprise à l’Institut Supérieur de développement Local, occasion pour
              contribuer à l’encadrement des jeunes qui désire entreprendre.
            </p>

            <p class="text-center mb-4 lg:text-left">
              L’entreprenariat est un domaine de prédilection pour elle depuis son bas âge. Ce projet est une porte
              d’entrée dans la concrétisation d’un esprit d’engagement pour la contribution au développement de
              l’Afrique en général et du Sénégal en particulier.
              Des professeurs de haut niveau dans l’enseignement aussi bien du primaire que du secondaire et du
              supérieur sont des associés de taille pour le projet. Trois d’entre eux s’engage auprès de la
              promotrice pour relever le défi de rendre accessible les cours de renforcement à tous les élève dans
              Dakar et toutes les régions et permettre la maitrise des langues nationales.
            </p>
            
        </div>
   </div>
</section>
<footer class="p-5 bg-white text-blue-400">
    <div class="flex flex-col space-y-4 w-full">
      <div class="flex space-x-4 mx-auto">
        <img src="../../../assets/images/et1.jpg" alt="" class="w-16 h-16 rounded-full">
        <p class="text-2xl text-amber-500 font-bold py-4">Etoiles d'Afrique</p>
      </div>
      <div class="flex justify-between w-1/2 mx-auto">
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-facebook"></i></a>
        </div>
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-twitter"></i></a>
        </div>
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
      <div class="flex mx-auto">
        <p class="text-amber-500">2022 &copy; Etoiles d'Afrique Tous droits réservés</p>
      </div>
    </div>
  </footer>