<div class="pt-40 w-11/12 mx-auto">

    <div class="mb-10 font-extrabold text-center flex justify-center items-center h-[10vh] rounded-[20px] text-white text-4xl bg-amber-400 w-full">
        Rediffusion
    </div>

    <p class="text-center text-4xl">À VENIR</p>

    <!-- <section class="mx-20">
        <div  class="ml-4" *ngFor="let item of courses">

            <app-video-list-item (event)="getEvent($event)" [data]="item" [name]="item[0].name"></app-video-list-item>
        </div>
    </section> -->
    
</div>