
<!-- <p class="ml-10 mt-8 text-3xl">Liste enseignant</p> -->

<div class="mt-4 flex flex-wrap items-center justify-center">

    <!-- Teacher Form -->
    <app-add-teacher (teacher)="getNewTeacher($event)"></app-add-teacher>

    <div class="mx-20">
        <!-- Teacher List -->
        <app-list-items (itemEmitter)="getItem($event)" [data]="teachers" [columns]="columns"></app-list-items>   
        
        <!--  Action -->
        <div class="mx-6 p-10 bg-white rounded-md drop-shadow">
            <p class="text-3xl text-center text-amber-500">{{currentTeacher.firstname+" "+currentTeacher.lastname}}</p>
            <!-- <p class=" text-center text-gray-500 mt-4">matricule</p> -->


            <div class="mt-8 flex justify-between items-center">
                <button class="p-4 px-5 bg-red-400 rounded-md text-white font-bold text-xl mx-2">Bloquer</button>
                <button class="p-4 px-5 bg-green-400 rounded-md text-white font-bold text-xl mx-2">Debloquer</button>
            </div>
        </div>
    </div>
</div>

<!-- Teacher matier list and action -->
<p class="ml-10 mt-8 text-3xl">Matière</p>
<div class="mt-4 pl-4 flex overflow-x-auto items-center">

    <form [formGroup]="courseForm">
        <p class="text-center text-2xl text-amber-500 text-3xl">
            Ajouter
        </p>
       
        <div class="flex">
            <div  class="block my-2 cursor-pointer w-[360px] p-8 space-y-4 drop-shadow-md bg-white shadow-amber-800 mx-4 rounded-xl relative overflow-hidden">
                <div class="relative z-0">
                    <select  type="text" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "
                            formControlName="course"
                            id="courses">
                        <option *ngFor="let item of coursesList" [value]="item">{{item}}</option>
                    </select>
                    <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Matiere</label>
                </div>
        
        
                <!-- Level -->
                <div class="relative ">
                    <select name="level"
                            formControlName="level"
                            id="level"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                        <option *ngFor="let item of level" [value]="item.value">{{item.name}}</option>
                    </select>
                    <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nieau</label>
                </div>
        
                  <!-- Language -->
                  <div class="relative ">
                    <select name="language"
                            placeholder=" "
                            formControlName="language"
                            id="language"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                        <option *ngFor="let item of language" [value]="item">{{item}}</option>
                    </select>
                    <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Niveau</label>
                </div>
                <div class="text-center">
                    <button class="p-2 px-6 bg-green-400 text-white font-bold text-xl rounded">Valider</button>
                </div>
            </div>
            <div  class="block my-2 cursor-pointer w-[360px] p-8 space-y-4 drop-shadow-md bg-white shadow-amber-800 mx-4 rounded-xl relative overflow-hidden">
                
                 <!-- Day and hours -->
                 <div class="relative">
                    <select name="language"
                        placeholder=" "
                        formControlName="language"
                        id="language"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                        <option *ngFor="let item of days" [value]="item">{{item}}</option>
                    </select>
                    <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Jour</label>
                 </div>

                 <div class="relative">
                    <select name="language"
                        placeholder=" "
                        formControlName="language"
                        id="language"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                        <option *ngFor="let item of hours" [value]="item">{{item}}</option>
                    </select>
                    <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Heure</label>
                 </div>


                <!-- Description -->
                <div class="relative z-0">
                    <textarea name="description"
                        formControlName="description"
                        id="floating_standard"
                        placeholder=" "
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer">
                    </textarea>
                    <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
                </div>

               
            </div>
        </div>
        
    </form>

    <div (click)="getCourseVideos(course.id)" *ngFor="let course of getTeacherCourses()"  class="block my-2 w-[360px]  drop-shadow-md bg-white shadow-amber-800 mx-10 rounded-xl relative overflow-hidden">
       <!-- Checked -->
       <span class="absolute top-5 right-5" *ngIf="currentCourse.id === course.id">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 40 40" width="30px" height="30px"><path fill="#bae0bd" d="M20,38.5C9.8,38.5,1.5,30.2,1.5,20S9.8,1.5,20,1.5S38.5,9.8,38.5,20S30.2,38.5,20,38.5z"/><path fill="#5e9c76" d="M20,2c9.9,0,18,8.1,18,18s-8.1,18-18,18S2,29.9,2,20S10.1,2,20,2 M20,1C9.5,1,1,9.5,1,20s8.5,19,19,19	s19-8.5,19-19S30.5,1,20,1L20,1z"/><path fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3" d="M11.2,20.1l5.8,5.8l13.2-13.2"/></svg>
       </span>
        <!-- Cover -->
        <img src="" class=" bg-red-200 w-full h-[180px] " alt=" ">
    
        <!-- Courses info -->
        <p class="text-3xl text-amber-500 text-center mt-2">{{course.name}}</p>
        <p class="text-xl text-amber-500 text-start px-4 mt-1">{{course.day+" "+course.hours}}</p>
        <p class="p-4 py-0 text-justify">{{course.description}}</p>
        <!-- Action -->
        <div class="p-2 flex justify-end items-center">
            <button *ngIf="!course.link" class="text-blue-400 p-4">Générer lien meet</button>
            <button *ngIf="course.link" class="text-blue-400 underline">{{course.link}}</button>
        </div>
    </div>


</div>

<!-- Teacher video list -->
<p class="ml-10 mt-20 text-3xl">Liste des videos mise en ligne</p>

<div class="mt-8 ml-16 flex overflow-auto">

    <form class="mr-6">
        
        <div class="flex items-center justify-center w-[360px]">
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50  hover:bg-gray-100">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                    <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <p class="text-xs text-gray-500">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                </div>
                <input id="dropzone-file" type="file" class="hidden" />
            </label>
        </div> 

    </form>

    <div  *ngFor="let video of currentVideo " class="flex items-center justify-center w-[360px] mx-2">
        <div  class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 rounded-lg bg-gray-50  hover:bg-gray-100">
            <p class="text-2xl text-amber-500">{{video.name}}</p>
            <p class="text-xl">{{video.date}}</p>
            <a href="" class="text-blue-400">{{video.link}}</a>
        </div>
    </div> 

</div>