
<div class="mt-20 flex flex-wrap items-center justify-center">

    <!-- Teacher List -->
    <app-list-items (itemEmitter)="getItem($event)" [data]="[{'nom' : 'diop', 'prenom': 'adja', 'id': 1}, {'nom' : 'bar', 'prenom': 'bamba', 'id': 2}, {'nom' : 'diop', 'prenom': 'adja', 'id':3}]" [columns]="['nom', 'prenom', 'id']"></app-list-items>   
    
    <!--  Action -->
    <div class="mx-6 p-10 bg-white rounded-md drop-shadow">
        <p class="text-3xl text-center text-amber-500">Teacher alpha</p>
        <p class=" text-center text-gray-500">matricule</p>


        <div class="mt-8 flex justify-between items-center">
            <button class="p-4 px-5 bg-red-400 rounded-md text-white font-bold text-xl mx-2">Bloquer</button>
            <button class="p-4 px-5 bg-green-400 rounded-md text-white font-bold text-xl mx-2">Debloquer</button>
        </div>
    </div>
</div>

<!-- Teacher matier list and action -->
<p class="ml-10 mt-4 text-3xl">Matière</p>
<div class="mt-4 pl-4 flex overflow-x-auto items-center">


    <div  class="block my-2 cursor-pointer w-[360px]  drop-shadow-md bg-white shadow-amber-800 mx-10 rounded-xl relative overflow-hidden">
        <!-- Cover -->
        <img src="" class=" bg-red-200 w-full h-[180px] " alt=" ">
    
        <!-- Courses info -->
        <p class="text-3xl text-amber-500 text-center mt-1">Name</p>
    
        <!-- Action -->
        <div class="p-2 flex justify-between items-center">
            <button class="text-white p-2 px-4 bg-red-400 rounded-xl">Supprimer</button>
            <button class="text-blue-400 underline">Generer lien meet</button>
        </div>
    </div>

    <div class="mx-10">
        <button class="text-white p-2 px-6 bg-green-500 text-xl font-bold  rounded drop-shadow-xl">Ajouter</button>
    </div>

</div>

<!-- Teacher video list -->
<p class="ml-10 mt-20 text-3xl">Liste des videos mise en ligne</p>

<div class="mt-8 ml-16 flex overflow-auto">

    <form class="mr-6">
        
        <div class="flex items-center justify-center w-[360px]">
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50  hover:bg-gray-100">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                    <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <p class="text-xs text-gray-500">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                </div>
                <input id="dropzone-file" type="file" class="hidden" />
            </label>
        </div> 

    </form>

    <div class="flex items-center justify-center w-[360px]">
        <div  class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 rounded-lg cursor-pointer bg-gray-50  hover:bg-gray-100">
          
        </div>
    </div> 

</div>