


<div class=" min-h-screen flex items-center justify-center ">
    <div class="md:flex hidden w-2/5 bg-amber-400 h-screen flex-col items-center justify-center ">
        <p class="text-3xl mb-4 font-bold text-white">Etoiles d'afrique</p>
        <div class="h-64 w-64 flex items-center justify-center rounded-full  bg-white">
            <img src="assets/images/etoile.png" alt="a" class="w-64">
        </div>
        <p class="text-2xl font-extr44bold mt-4 ">
            Votre Professeur Particulier en Ligne
        </p>

        <p class="w-3/4 text-xl text-center text-white">
            Nous offrons un service de cours de renforcement des
            élèves et cours d’apprentissage des langues nationales
            aux parents d’élèves et toute personne désirant comprendre
            et parler une langue.
        </p>
    </div>
    <div class="flex justify-center flex-1">
        <div class="md:p-10 py-10 mb-16 bg-white md:drop-shadow md:shadow-md shadow-amber-50  rounded-3xl overflow-hidden">
            <p class="text-center text-3xl">Connexion</p>
            <form class="md:p-4 px-16 space-y-12" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <p class="text-red-500 text-center">{{errorMessage}}</p>
                    <!-- Email -->
                <div class="relative z-0 w-80">
                    <input formControlName="login" required type="email" id="floating_standard" class="block py-2.5 px-0 w-full text text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
                </div>
    
                <!-- Mot de passe -->
                <div class="relative z-0">
                    <input formControlName="password" required type="password" id="floating_standard" class="block py-2.5 px-0 w-full text text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mot de passe</label>
                </div>

                <div *ngIf="!isLoading" class="text-center">
                    <input 
                        [disabled]="loginForm.invalid"
                        type="submit"  
                        value="Se Connecter"
                        class="cursor-pointer p-2 px-4 font-semibold border-2 rounded-2xl  drop-shadow-login-button bg-main-bg border-b-amber-300 border-r-amber-300"/>
                </div>
                <div *ngIf="isLoading" class="text-center w-full">
                    <img src="assets/images/load.gif" class="mx-auto" alt="">
                </div>
                
            </form>
    
        </div>
    </div>
</div>
