


<div class=" min-h-screen flex items-center justify-center ">
    <div class="p-10 bg-main-bg drop-shadow-login mb-16 bg-white shadow   rounded-3xl overflow-hidden">
      <p class="text-center text-3xl">Connexion</p>
      <form class="p-4 px-16 space-y-12" [formGroup]="loginForm" (ngSubmit)="onSubmit()">


          <!-- Email -->
        <div class="relative z-0 w-80">
            <input formControlName="login" type="text" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
            <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Login</label>
        </div>

        <!-- Mot de passe -->
        <div class="relative z-0">
            <input formControlName="password" type="text" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
            <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mot de passe</label>
        </div>
          <div class="text-center">
              <input 
          
                  type="submit"  
                  value="Se Connecter"
                  class="cursor-pointer p-2 px-4 font-semibold border-2 rounded-2xl  drop-shadow-login-button bg-main-bg border-b-amber-300 border-r-amber-300"/>
          </div>
      </form>
  
      </div>
  </div>
  