<div class="flex items-center justify-center flex-1">

    <div class="flex flex-col justify-center items-center w-full mx-10 relative">
        <!-- Search -->
        <div class="my-10">
            <div class="flex space-x-4 items-center">
                <div class="relative z-0">
                    <input #search type="text" id="floating_standard" class=" w-80 block py-2.5 px-0 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_standard" class="w-80 absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Rechercher...</label>
                </div>
                <button (click)="filter(search.value)" class="p-2.5 ml-2 text-sm font-medium text-white bg-amber-400 rounded-lg border border-amber-500 hover:bg-amber-700 focus:ring-4 focus:outline-none focus:ring-amber-300 ">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                    <span class="sr-only">Search</span>
                </button>
            </div>
        </div>

        <div class="absolute top-10 right-10">
            <a routerLink="/admin/enseignants/ajouter">Ajouter enseignants</a>
        </div>

        <table class="w-full">
                
                <!-- Head -->
                <thead class="bg-amber-400 text-white rounded-xl">
                    <th class="p-2 text-xl capitalize text-start cursor-pointer" *ngFor="let item of columns" (click)="sort(item.name)">
                        {{item.value}}
                    </th>
                    <th class="p-2 text-xl text-start cursor-pointer">Nombre de cours</th>
                    <th class="p-2 text-xl capitalize text-start">Actions</th>
                </thead>

                <!-- Body -->
                <tbody class="border-b border-amber-500" >
                    <tr *ngFor="let listItem of listFragments" (click)="emitItem(listItem.id)">

                        <td class="p-2 text-md  w-44" *ngFor="let column of columns">
                            {{listItem[column.name]}}
                        </td>

                        <td class="p-2 text-md  w-44">
                            {{listItem.courses.length}}
                        </td>

                        <td class="p-2 text-md w-44">
                            <div class=" flex justify-between">
                                <button class=" px-4 py-1 rounded bg-green-500 text-white font-bold"><a [routerLink]="'/admin/cours/ajouter/'+listItem.id">+ matières</a></button>
                                <button class=" px-4 py-1 rounded bg-blue-500 text-white font-bold"><a [routerLink]="'/admin/cours/'+listItem.id">voir matières</a></button>
                                <button *ngIf="listItem.status === 'actif'" (click)="onBlock(listItem.id)" class=" py-1 px-4 rounded bg-red-400 text-white font-bold">bloquer</button>
                                <button *ngIf="listItem.status === 'inactif'" (click)="onUnBlock(listItem.id)" class=" py-1 px-4 rounded bg-green-400 text-white font-bold">débloquer</button>
                            </div>
                        </td>
                    </tr>
            
                </tbody>
        </table>

        <!-- Pagination -->
        <div class="flex w-full items-center mt-10 text-xl justify-between">
           <div class="flex items-center">
                <div class="mr-2 border-r-2 border-black">
                    tableau de :
                    <select (change)="setNumberOfElement(select.value)" #select name="numberOfElement" id="numberOfElement">
                        <option value="10">10</option>
                        <option value="20">10</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div>
                    page :
                    <button  class=" mx-2"
                            *ngFor="let item of getPages()"
                            [disabled]="item === page"
                            (click)="goToPage(item)"
                            > 
                        {{item + 1}}
                    </button>
                </div>
           </div>
            <div>
                <button class="mx-1" [disabled]="this.page === this.getPages()[0]" (click)="previousPage()">Précedent</button>
                <button class="mx-1" [disabled]="this.page  === this.getPages()[this.getPages().length - 1]" (click)="nextPage()">Suivant</button>
            </div>
        </div>
    </div>

</div>