<div class="flex items-center justify-center h-screen bg-gray-100">
    <form class="py-6 px-16 space-y-8 bg-white drop-shadow" [formGroup]="form" (ngSubmit)="onSubmit()">
        <p class="text-2xl text-center mt-2 text-amber-500 font-bold">Ajouter une video pour le cours <br> {{course.name+' niveau '+course.level}}</p>
        <div class="flex items-center justify-center w-80 mx-auto">
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-44 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50  hover:bg-gray-100">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                    <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop Video</p>
                </div>
                <input id="dropzone-file" formControlName="file" (change)="onFileSelect($event)" type="file" class="hidden" />
            </label>
        </div> 

        <!-- Name -->
        <div class="relative z-0 ">
            <input formControlName="name" type="text" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
            <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom</label>
        </div>

       <!-- Description -->
       <div class="relative z-0">
            <textarea name="description"
                formControlName="description"
                id="floating_standard"
                placeholder=" "
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer"></textarea>
            <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
        </div>

        <div class="text-center">
            <input 
                type="submit"  
                value="Ajouter"
                [ngClass]="{'p-2 px-6 text-xl font-semibold border-2 rounded-2xl text-amber-500 ': true, 'border-b-amber-300 border-r-amber-300 cursor-pointer': !form.invalid}"/>
        </div>
    
    </form>
</div>