<header class="py-6 text-white" style="background-image: url('../../../assets/images/pexels-tima-miroshnichenko-7567520.jpg');background-size: cover;">
    <div class="container mx-auto px-4 lg:px-2">
        <nav class="flex space-x-32 px-4">
            <div class="flex space-x-5">
              <a href="/" class="w-16 h-16">
                <img src="../../../assets/images/et1.jpg" class="object-cover rounded-full" alt="Logo">
              </a>
              <p class="text-3xl pt-2 text-amber-500 animate-pulse font-bold ">Etoiles d'Afrique</p>
            </div>
            <input type="checkbox" id="menu-toggler" class="hidden">
            <span class="text-4xl hidden" id="menu-bars" >
              <i class="bi bi-list bars"></i>
              <i class="bi bi-x close hidden"></i>
            </span>
            <div class="hidden lg:flex menu font-bold py-5 text-amber-500">
              <a routerLink="/" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Accueil</a>
              <a routerLink="/contexte" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Contexte</a>
              <a routerLink="/team" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Équipe Fondatrice</a>
            </div>
          </nav>
    </div>
    <div class="flex flex-col mt-10 space-y-4">
        <div class="flex flex-col mx-auto space-y-2">
            <p class="mx-auto text-3xl font-bold text-amber-500 uppercase">Contexte Étoiles d'Afrique</p>
            <div class="w-16 h-1 bg-amber-500 rounded-xl mx-auto"></div>
        </div>
        <div class="mx-auto w-1/2">
            <p class="text-center font-bold">Apprenez dans quel contexte la solution Étoiles d'Afrique a été pensée</p>
        </div>
    </div>
</header>

<section class="bg-amber-100">
   <div class="flex flex-col pt-10">
        <div class="mx-auto">
            <p class="text-3xl text-amber-500 font-bold">Dans quel contexte est né Étoiles d'Afrique ?</p>
            <div class="w-16 h-1 bg-amber-300 mt-2 rounded-xl mx-auto"></div>
        </div>
        <div class="mx-auto p-4">
            <p class="text-center">
                Le continent Africain est en pleine expansion et le Sénégal n’est pas en reste. Nous sommes tous
conscients que nous sommes les principaux acteurs de notre développement. Personne ne peut le
faire à notre place. Ce processus commence dès le bas âge par une bonne éducation. Difficile est
cette mission d’éduquer nos enfants dans ce tumulte avec les nouvelles technologies de
l’information. Nous avons la mission d’apprendre à nos enfants à bien les utiliser pour en tirer un
meilleur profit. Ces nouvelles technologies de l’information nous offrent une large gamme de
possibilité d’entreprendre. Notre projet est une entreprise qui a pour mission de créer un service
innovant dans un contexte favorable. Il s’agit d’offrir un nouveau service de cours de renforcement
en ligne au profit des élèves dans un contexte d’innovation
            </p>
        </div>
   </div>
</section>
<footer class="p-5 bg-white text-blue-400">
    <div class="flex flex-col space-y-4 w-full">
      <div class="flex space-x-4 mx-auto">
        <img src="../../../assets/images/et1.jpg" alt="" class="w-16 h-16 rounded-full">
        <p class="text-2xl text-amber-500 font-bold py-4">Etoiles d'Afrique</p>
      </div>
      <div class="flex justify-between w-1/2 mx-auto">
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-facebook"></i></a>
        </div>
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-twitter"></i></a>
        </div>
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
      <div class="flex mx-auto">
        <p class="text-amber-500">2022 &copy; Etoiles d'Afrique Tous droits réservés</p>
      </div>
    </div>
  </footer>