<header class="pt-10 pb-36 text-white" style="background-image: url('../../../assets/images/pexels-tima-miroshnichenko-7567520.jpg');background-size: cover;">
    <div class="container mx-auto px-4 lg:px-2">
      <nav class="flex space-x-32 px-4">
        <div class="flex lg:space-x-5 items-center">
          <a href="/" class="w-32">
            <img src="../../../assets/images/et1.png" class="object-cover rounded-full" alt="Logo">
          </a>
          <p class="text-2xl lg:text-3xl text-white animate-pulse font-bold ">Etoiles d'Afrique</p>
        </div>
        <input type="checkbox" id="menu-toggler" class="hidden">
        <span class="text-4xl hidden" id="menu-bars" >
          <i class="bi bi-list bars"></i>
          <i class="bi bi-x close hidden"></i>
        </span>
        <div class="hidden lg:flex menu font-bold py-8 text-amber-500">
          <a routerLink="/" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Accueil</a>
          <a routerLink="/contexte" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Contexte</a>
          <a routerLink="/team" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Équipe Fondatrice</a>
          <a routerLink="#" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Nos Services</a>
          <a routerLink="#" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Concours</a>
          <a routerLink="#" class="ml-4 text-3xl lg:text-base mb-6 lg:mb-0">Bibliothèques</a>
        </div>
      </nav>
      <div class="mt-24 flex items-center">
        <div class="w-full flex flex-col mx-auto">
          <h1 class="text-4xl lg:text-5xl font-bold text-amber-500 mx-auto">Votre Professeur Particulier en Ligne</h1>
          <p class="my-4 mx-auto font-bold lg:text-center lg:w-1/2">
            Nous offrons un service de cours de renforcement des élèves et cours d’apprentissage des langues
            nationales aux parents d’élèves et toute personne désirant comprendre et parler une langue.
          </p>
          <a href="/auth" class="transition duration-300 font-bold bg-amber-500 hover:bg-white hover:text-amber-500 text-white mt-5 mx-auto btn p-4 uppercase">Se Connecter</a>
        </div>
      </div>
    </div>
  </header>

  <section class="lg:px-4 bg-amber-100 py-16" id="obj">
    <div class="container mx-auto px-4 lg:px-0">
      <h2 class="text-left text-amber-500 font-bold text-2xl lg:text-3xl mb-2">NOS OBEJCTIFS, VISIONS ET MISSIONS</h2>
      <div class="w-32 h-2 bg-amber-300 mb-16 rounded-xl"></div>
      <div  class="flex flex-wrap -mx-4 px-2">
        <div class="w-full lg:w-1/3 px-4">
          <div class="bg-white my-4 lg:h-full lg:my-0 pb-20 flex flex-col items-left">
            <img class="w-full h-60 mb-6" src="../../../assets/images/pexels-markus-winkler-4052198.jpg" alt="">
            <span class="font-bold text-amber-500 text-lg px-4 animate-pulse">Objectifs</span>
            
            <p class="text-left leading-10 mt-6 px-4">
              Vous accompagner dans le processus d'apprentissage ou de 
              revision de vos enfants, accroitre votre 
              presence. Vous assistez et vous guidez dans le Suivi
              de vos enfants .
            </p>
          </div>
        </div>
        <div class="w-full lg:w-1/3 px-4">
          <div class="bg-white my-4 lg:h-full lg:my-0 pb-20 flex flex-col items-left ">
            <img class="w-full h-60 mb-6" src="../../../assets/images/pexels-rfstudio-3810788.jpg" alt="">
            <span class="font-bold text-amber-500 text-lg px-4 animate-pulse">Visions</span>
            
            <p class="text-left leading-10 mt-6 px-4">
              Nous avons l’ambition de déployer toutes les potentialités offertes
               par la révolution digitale, pour un
              renouveau pédagogique à l’école et en particulier dans les
              dispositifs de renforcement scolaire.
            </p>
          </div>
        </div>
        <div class="w-full lg:w-1/3  px-4">
          <div class="bg-white my-4 lg:h-full lg:my-0 pb-20 flex flex-col items-left">
            <img class="w-full h-60 mb-6" src="../../../assets/images/pexels-pavel-danilyuk-7654609.jpg" alt="">
            <span class="font-bold text-amber-500 text-lg px-4 animate-pulse">Missions</span>
            
            <p class="text-left leading-10 mt-6 px-4">
              Contribuer fortement à la performance du niveau des élèves et au développement
               de l’éducation
              numérique au Sénégal. Faire rentrer l&#39;école Sénégalaise
              dans l&#39;ère du numérique par la création d’un
              écosystème favorable au développement de l’e-éducation 
              avec la collaboration d’enseignants très
              expérimentés (retraités y compris).
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> 


  <section class="py-16" id="met">
    <div class="container mx-auto px-4 lg:px-0">
      <div class="flex items-center flex-wrap -mx-4">
        <div class="w-full px-4 lg:w-1/2 ox-6 lg:px-14">
          <span class="text-left text-2xl lg:text-3xl font-bold inline-flex w-full justify-center">
            Nous dispensons des cours pour differents cycles
          </span>
          <div class="w-32 h-2 bg-amber-300 mt-2 rounded-xl"></div>
        </div>
        <div class="w-full lg:w-1/2 px-6 lg:px-14 py-10 flex flex-col md:flex-row items-center">
          <div class="md:mr-10">
            <span class="text-8xl text-amber-500 mb-6 md:mb-0 inline-block">
              <i class="bi bi-rulers"></i>
            </span>
          </div>
          <div>
            <span class="font-bold text-lg">Primaire</span>
            <p>
                Accompagner vos enfants dans leur apprentissage et leur revision
                Pour tous les niveaux entre autres CI, CP, CE1, CE2, CM2 ...
            </p>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-6 lg:px-14 py-10 flex flex-col md:flex-row items-center">
          <div class="md:mr-10">
            <span class="text-8xl text-amber-500 mb-6 md:mb-0 inline-block">
              <i class="bi bi-pencil-fill"></i>
            </span>
          </div>
          <div>
            <span class="font-bold text-lg">Secondaire</span>
            <p>Suivre vos jeunes en classe d'examen ou non à se renforcer dans les matières dominantes
                Pour tous le niveaux entre autres 6eme, 5eme, 4eme, 3eme mais aussi seconde, Première et Terminal de toutes les séries .
            </p>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-6 lg:px-14 py-10 flex flex-col md:flex-row items-center">
          <div class="md:mr-10">
            <span class="text-8xl text-amber-500 mb-6 md:mb-0 inline-block">
              <i class="bi bi-briefcase-fill"></i>
            </span>
          </div>
          <div>
            <span class="font-bold text-lg">Adultes et Enfants</span>
            <p>La seconde activité de notre projet concerne l’apprentissage des langues nationales pour chaque tranches d'ages (adultes comme enfants). Ce volet nous
              permet en plus de la participation à l’e-éducation, de contribuer à lutter contre la disparition de nos
              langues nationales. Une grande menace pèse sur la quasi-totalité des langues Nationales au Sénégal
              du fait de la mobilité de la population.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="apd" class="bg-amber-100 text-white py-16">
    <div class="container mx-auto px-4">
      <h3 class="font-bold text-left text-black text-2xl lg:text-3xl mb-2">A propos de nous ?</h3>
      <div class="w-32 h-2 bg-amber-300 rounded-xl mb-6"></div>
      <p class="w-full lg:w-2/3 text-black mx-auto lg:m-0 text-left text-lg mb-10">Etoiles d'Afrique est une entreprise basée au coeur de la capitale Sénégalaise; la majeure partie de ses activités est axée vers la dispensation des cours en lignes dans differents niveaux, mais aussi dans la dispensation de cours de langues nationales. Ainsi, Étoiles d'Afrique présente plusieurs atouts notaments que : </p>
      <div class="flex flex-wrap items-start lg:flex-col ">
        <div class="px-0 w-full lg:w-2/3 flex justify-start">
          <ul class="py-2">
            <li class="text-2xl mb-4 text-black">
              <i class="bi bi-check-circle-fill text-black mr-2"></i>
              <span>Les fortes compétences de la promotrice du projet</span>
            </li>
            <li class="text-2xl mb-4 text-black">
              <i class="bi bi-check-circle-fill text-black mr-2"></i>
              <span>Le service offert est bien demandé</span>
            </li>
            <li class="text-2xl mb-4 text-black">
              <i class="bi bi-check-circle-fill text-black mr-2"></i>
              <span>Le partenaire secondaire lutte en faveur des langues nationales</span>
            </li>
          </ul>
        </div>
        <div class="px-0 w-full lg:w-2/3 flex justify-start">
          <ul>
            <li class="text-2xl mb-4 text-black">
              <i class="bi bi-check-circle-fill text-black mr-2"></i>
              <span>Les clients potentiels de la seconde activités sont les jeunes et adultes</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <footer class="p-5 bg-white text-blue-400">
    <div class="flex flex-col space-y-4 w-full">
      <div class="flex lg:space-x-4 mx-auto items-center">
        <img src="../../../assets/images/et1.png" alt="" class="w-32 h-32 rounded-full">
        <p class="text-2xl text-amber-500 font-bold">Etoiles d'Afrique</p>
      </div>
      <div class="flex justify-between w-1/2 mx-auto">
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-facebook"></i></a>
        </div>
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-twitter"></i></a>
        </div>
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="rounded-full w-10 h-10 flex font-bold text-white bg-amber-500">
          <a class="m-auto" href="#"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
      <div class="flex mx-auto">
        <p class="text-amber-500">2022 &copy; Etoiles d'Afrique Tous droits réservés</p>
      </div>
    </div>
  </footer>