<div class="relative top-0 pt-40 flex flex-col w-11/12 mx-auto items-center justify-center">

    <div class="mb-10 font-extrabold text-center flex justify-center items-center h-[10vh] rounded-[20px] text-white text-4xl bg-amber-400 w-full">
        Profil
    </div>

    <div class="">
        <div class="flex items-center justify-center mb-4">
            <div class="w-80 h-80 rounded-full bg-amber-200">
                <img src="" alt="logo">
            </div>
            <form class="p-4 space-y-8" [formGroup]="form">
                <p class="text-3xl text-center mt-2 text-amber-400 font-bold">Informations personnelles</p>
        
                <p class="text-red-400">{{this.errorMessage}}</p>
                <!-- Prenom -->
                <div class="relative z-0 mx-2 w-full">
                    <input formControlName="firstname" type="text" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_standard" class="absolute text-sm text-gray-400  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Prenom</label>
                </div>
    
                <!-- Nom -->
                <div class="relative z-0 mx-2 w-full">
                    <input formControlName="lastname" type="text" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_standard" class="absolute text-sm text-gray-400  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom</label>
                </div>
    
                <!-- Email -->
                <div class="relative z-0  mx-2 w-full">
                    <input formControlName="email" type="email" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_standard" class="absolute text-sm text-gray-400  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
                </div>    
        
            </form>
        </div>
        <p *ngIf="!modifier" class="w-full">
            <a href="">Modifier le mot de passe ?</a>
        </p>
        <form class="w-full space-y-5" [formGroup]="formPassword" (ngSubmit)="submitPassword()">
            <p  class="text-xl mt-2 text-amber-400 font-bold">Modifier le mot de passe </p>
    
            <!-- Mot de passe -->
            <div class="relative z-0  w-full">
                <input formControlName="password" type="password" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                <label for="floating_standard" class="absolute text-sm text-gray-400  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mot de passe</label>
            </div>

            <div class="relative z-0  w-full">
                <input formControlName="confirmPassword" type="password" id="floating_standard" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                <label for="floating_standard" class="absolute text-sm text-gray-400  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirmer le mot de passe</label>
            </div>

            <div class="">
                <input 
                    [disabled]="formPassword.invalid && !modifier"
                    type="submit"  
                    value="Modifier"
                    [ngClass]="{'p-1 px-6 text-xl font-semibold border rounded-xl text-amber-400 ': true, 'bg-green-500 text-white py-1 border-none rounded cursor-pointer': !formPassword.invalid}"/>
            </div>
        </form>
    </div>
</div>