


<div class=" min-h-screen flex items-center justify-center ">
  <div class="p-10 bg-main-bg drop-shadow-login mb-16 bg-white shadow   rounded-3xl overflow-hidden">
    <p class="text-center text-2xl">Connexion</p>
    <form class="p-4 px-16 space-y-12" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="relative ">
            <input type="email"
                   id="email"
                   formControlName="login"
                   class="w-full md:block p-1 md:w-[320px] peer appearance-none bg-transparent focus:outline focus:outline-0 border-b-2 border-amber-400"
                   placeholder=""
            />
            <label for="email"
                   class="absolute italic text-[18px]
                    text-gray-500 duration-300
                    transform -translate-y-1/2 scale-75 z-10
                    origin-[0] peer-focus:px-0
                    peer-focus:text-cyan-400
                    peer-placeholder-shown:scale-100
                    peer-placeholder-shown:-translate-y-1/2
                    peer-placeholder-shown:top-1/2
                    peer-focus:top-2 peer-focus:scale-75
                    peer-focus:-translate-y-6 ">
                Email</label>
        </div>
        <div class="relative ">
            <input type="password"
                   id="password"
                   formControlName="password"
                   class="w-full md:block p-2 md:w-[320px] peer appearance-none bg-transparent focus:outline focus:outline-0 border-b-2 border-amber-400"
                   placeholder=""
            />
            <label for="password"
                   class="absolute italic text-[18px]
                    text-gray-500 duration-300
                    transform -translate-y-4 scale-75 z-10
                    origin-[0] peer-focus:px-0
                    peer-focus:text-cyan-400
                    peer-placeholder-shown:scale-100
                    peer-placeholder-shown:-translate-y-1/2
                    peer-placeholder-shown:top-1/2
                    peer-focus:top-2 peer-focus:scale-75
                    peer-focus:-translate-y-6 ">
                Mot de passe</label>
        </div>
        <div class="text-center">
            <input 
        
                type="submit"  
                value="Se Connecter"
                class="cursor-pointer p-2 px-4 font-semibold border-2 rounded-2xl  drop-shadow-login-button bg-main-bg border-b-blue-300 border-r-blue-300"/>
        </div>
    </form>

    </div>
</div>
