


<div class=" min-h-screen flex items-center justify-center ">
    <div class="w-2/5 bg-amber-400 h-screen flex flex-col items-center justify-center ">

        <img src="" alt=" " class="w-80 h-44 bg-red-400 mb-4">

        <p class="ofont-extrabold mt-4 w-3/4 text-xl text-center">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt nobis debitis cum, tempore est fugit earum quibusdam rem beatae ducimus placeat repellat libero laborum quam, iure pariatur quasi molestias eligendi.
        </p>
    </div>
    <div class="flex justify-center flex-1">
        <div class="p-10 mb-16 bg-white drop-shadow shadow-md shadow-amber-50  rounded-3xl overflow-hidden">
            <p class="text-center text-3xl">Connexion</p>
            <form class="p-4 px-16 space-y-12" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <p class="text-red-500">{{errorMessage}}</p>
                    <!-- Email -->
                <div class="relative z-0 w-80">
                    <input formControlName="login" required type="email" id="floating_standard" class="block py-2.5 px-0 w-full text text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
                </div>
    
                <!-- Mot de passe -->
                <div class="relative z-0">
                    <input formControlName="password" required type="password" id="floating_standard" class="block py-2.5 px-0 w-full text text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                    <label for="floating_standard" class="absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mot de passe</label>
                </div>

                <div class="relative z-0">
                    <select formControlName="role" required  id="floating_standard" class="block py-2.5 px-0 w-full text text-gray-900 bg-transparent border-0 border-b-2 border-amber-300 appearance-none  focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" ">
                        <option value="Student">Étudiant</option>
                        <option value="Teacher">Professeur</option>
                    </select>
                    <label for="floating_standard" class="absolute text-xl text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Vous êtes ?</label>
                </div>
    
                <div class="text-center">
                    <input 
                        [disabled]="loginForm.invalid"
                        type="submit"  
                        value="Se Connecter"
                        class="cursor-pointer p-2 px-4 font-semibold border-2 rounded-2xl  drop-shadow-login-button bg-main-bg border-b-amber-300 border-r-amber-300"/>
                </div>
            </form>
    
        </div>
    </div>
</div>
